.file-upload-form, .image-preview {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
}

.time-ago {
    border: 1px solid;
    padding: 4px;
    border-radius: 3px;
}
